
extends layout 
block content
  div(class="container")
    h2 General - random conversation topics.
    h4 Threads:
    ul
    each thread in threads
      li
        a(href="/thread/" + thread._id, class="thread-link")= thread.title
        span updated: #{thread.updated}
  br
  div(class="post-form")
    form(action='/gen/create_thread', method='post')
      label(for='title') New Thread:
      br
      input(id='title' type='text' name='title_field' placeholder='title')
      br
      lable(for='name') Name
      br
      input(id='name' type='text' name='name_field' placeholder='Anonymous')
      br
      label(for='comment') Comment
      br
      textarea(id='comment' type='text' name='comment_field' rows='20' cols='120')
      br
      input(type='submit' value='Create Thread')
    