div(class="navigation")
  h1(class="navigation__title")= title

  span Boards: 

  each board in boards
    a(class="navigation__link" href="/" + board.name) [ #{board.name} ]

  a(href="/" class="navigation__home") [ Home ]
