extends layout

block content
  div(class="container")
    span(class="thread-title") 
      a(href="/" + thread.board) #{thread.board} 
      | >> #{thread.title}
      | >> #{thread._id}

  div(class="thread__posts")

    div(class="post")
      p= thread.name
      p= thread.updated
      p= thread.comment

    each post in posts
      div(class="post")
        p= post.name
        p= post.date
        p= post.comment

  //- Add a form to create posts.
  //- Created posts get the thread id added to them.
  //- Posts (or comments) that belong to the thread will appear on the thread page.

  div(class="post-form")
    form(action='/createpost/' + thread._id, method='post')
      label(for='name') Name:
      br
      input(id='name' type='text' name='name_field' placeholder='name')
      br
      label(for='comment') Comment:
      br
      textarea(id='comment' type='text' name='comment_field')
      br
      input(type='submit' value='Post Comment')