body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  margin: 0; }

a {
  color: black;
  text-decoration: none; }

li {
  list-style: none;
  background-color: lightgray; }

textarea {
  width: 500px;
  height: 200px; }

.navigation {
  width: 100%;
  height: 40px;
  background-color: lightgray; }

.navigation__title {
  line-height: 40px;
  display: inline-block;
  margin: 0 30px 0 30px; }

.navigation__link {
  display: inline-block; }

.index__posts, .thread__posts, .container {
  width: 80%;
  margin: 0 auto; }

.container {
  margin-top: 30px; }

.thread-link {
  display: block;
  padding: 5px;
  margin: 2px; }

.thread-title {
  font-size: 24px;
  font-weight: bold; }

.post {
  background-color: lightgray;
  padding: 10px;
  margin: 10px 0 10px 0; }

.post-form {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */